section
  md-subheader
    h2 {{ project.name }}
    span( ng-show="$state.current.name == 'main.projects.detail.new'" ) {{ (project.lands | filter: {'status': 0}).length }} terrains non classés
    span( ng-show="$state.current.name == 'main.projects.detail.archived'" ) {{ (project.lands | filter: {'status': -1 }).length }}  terrains archivés
    span( ng-show="$state.current.name == 'main.projects.detail.favourite'" ){{ (project.lands | filter: {'status': 1 }).length }}  terrains intéressants 

  md-list.lands-list( layout="column" )
    md-item( 
      ng-repeat="land in project.lands | landCat:status | reverse "
    )
      md-divider
      md-item-content
        div.md-tile-content
          h3
            a.text-cyan(
              target = '_blank'
              ng-href="{{ land.url }}"
            ) {{ land.town_readable_name }}
            small  - {{ land.surface_in_squared_meters }} m
              sup 2
          p prix : {{ land.price_in_euro }} &euro;
          p temps de trajet  : {{ land.town_car_travel_time_text }}
          p {{ land.description }} 

          md-button.md-primary.md-small( 
            ng-click="archive(land)"
            swipe-left
            ng-hide="$state.includes('main.projects.detail.archived')"
          )
            span.fa.fa-archive
            |  archiver

          md-button.md-primary.md-small( 
            ng-click="unSortLand(land)"
            swipe-right
            ng-show="$state.includes('main.projects.detail.archived')"
          )
            span.fa.fa-archive
            |  annuler archiver

          md-button.md-primary.md-small( 
            ng-click="favourite(land)" 
            swipe-right
            ng-hide="$state.includes('main.projects.detail.favourite')"
          )
            span.fa.fa-star
            |  ajouter aux favoris

          md-button.md-primary.md-small( 
            ng-click="unSortLand(land)" 
            swipe-left
            ng-show="$state.includes('main.projects.detail.favourite')"
          )
            span.fa.fa-star
            |  retirer des favoris


