md-tabs( class="md-white-theme", md-stretch-tabs="always")
  md-tab.md-left-tab( 
    md-active="$state.current.name == 'main.projects.detail.archived'"
    md-on-select="$state.go('main.projects.detail.archived')"
  )
    md-tab-label archivés

  md-tab( 
    md-active="$state.current.name == 'main.projects.detail.new'" 
    md-on-select="$state.go('main.projects.detail.new')"
  )
    md-tab-label nouveaux

  md-tab.md-right-tab( 
    md-active="$state.current.name == 'main.projects.detail.favourite'"
    md-on-select="$state.go('main.projects.detail.favourite')"
  )
    md-tab-label favoris

div( ui-view="main", class="md-whiteframe-z1 wrapper" )
