md-subheader.md-accent Définissez vos critères 

md-content.md-padding

  md-input-container
    label Nom du projet
    input(
      ng-model="project.name"
      type="text"
      name="name"
    )

  md-input-container
    label Ville de référence
    input(
      ng-model="project.town"
      type="text"
      name="name"
    )
