div.big-padding
  md-subheader.md-accent Définissez vos critères de recherche

  md-content.md-padding

    md-input-container
      label Nom du projet
      input(
        ng-model="project.name"
        type="text"
        name="name"
      )

    md-input-container
      label Ville de référence
      input(
        ng-model="project.town"
        type="text"
        name="name"
      )

    md-input-container
      label Distance max depuis {{ project.town }} : {{ (project.max_distance || 0) / 1000 }} km
    md-slider( flex, step="10000", min="0", max="1500000", ng-model="project.max_distance", class="md-accent")

    md-input-container
      label Surface min : {{ project.min_surface }} m
        sup 2
    md-slider( flex, min="0", step="10", max="100000", ng-model="project.min_surface", class="md-accent")

    md-input-container
      label Surface max : {{ project.max_surface }} m
        sup 2
    md-slider( flex, step="10", min="0", max="100000", ng-model="project.max_surface", class="md-accent")

    div( layout, layout-align="end" )
      md-button.md-raised.md-warn( 
        ng-click="createProject()"
      )
        | Créer le projet


