div( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools 
      a( ui-sref="main.projects.list" ) Terrains à construire
      div( ui-view="title" ) 

  md-toolbar( 
    style="min-height: 55px"
    ng-show="$state.includes('main.projects.detail')"
  )
    md-tabs( 
      class="md-whiteframe-z1 md-white-theme"
      md-stretch-tabs="always"
      style="z-index: 3; position: relative; display: block"

    )
      md-tab.md-left-tab( 
        md-active="$state.current.name == 'main.projects.detail.archived'"
        md-on-select="$state.go('main.projects.detail.archived')"
      )
        md-tab-label 
          span.fa.fa-archive
          span( hide-sm )  archivés

      md-tab( 
        md-active="$state.current.name == 'main.projects.detail.new'" 
        md-on-select="$state.go('main.projects.detail.new')"
      )
        md-tab-label 
          span.fa.fa-home
          span( hide-sm )  nouveaux

      md-tab.md-right-tab( 
        md-active="$state.current.name == 'main.projects.detail.favourite'"
        md-on-select="$state.go('main.projects.detail.favourite')"
      )
        md-tab-label
          span.fa.fa-star
          span( hide-sm )  favoris


  md-content(ui-view="main", class="full-width")

